*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.container{
    width: 1000px!important;
}
p{
    font-size: 12px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif!important;
    font-weight: 700;
}
.bg-primary{
    background-color: #000000 !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif!important;

}
.circle1{
    width: 120px;
    height: 120px;
    background-color: #484848 ;
    border-radius: 50%;
    position: absolute;
    bottom: 16%;
    right: 59%;
    opacity: 0.5;
}
.circle2{
    width: 150px;
    height: 150px;
    border-radius: 350px 0px 0px 0px;
    background-color: #484848;
    position: absolute;
    bottom: 66px;
    left: 508px;
    opacity: 0.4;
}
.form-control {
    height: 36px;
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    border-radius: 2px;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.contactForm .form-control {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}


.form-control:focus,.form-control:active {
    border-color: #000000 !important;
}
.form-label {
    color: #8D8D8D;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.btn.btn-primary {
    background: #000000 !important;
    border-color: #000000 !important;
    color: #fff;
    border-radius: 8px!important;
    float:right;
    width: 200px;
    
}
.btn.btn-primary:hover{
    background-color: #ffffff!important;
    color: #000000;
}

.bi{
    font-size: 25px;
    padding-top: 15px;
}
#checkbox{
    border-radius: 50%;
}
.footer-col{
    padding-top: 150px;
}
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #000;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #000;
    background-color: #ffffff;
}
#links{
    font-size:25px ;}
.position-absolute {
    border-radius: 50%;
    background-color: black;
}
@media only screen and (max-width: 600px) {
    .container{
        width: 100%!important;
        padding-bottom: 207px!important;
    }
    .circle1{
        width: 120px;
        height: 120px;
        background-color: #484848 ;
        border-radius: 50%;
        position: absolute;
        bottom: 16%;
        right: 59%;
        opacity: 0.5;
    }
    .circle2{
        width: 150px;
        height: 150px;
        border-radius: 350px 0px 0px 0px;
        background-color: #484848;
        position: absolute;
        bottom: 66px;
        left: 508px;
        opacity: 0.4;
    }
  }